{% load l10n %}
{% localize on %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Aluevaraus</title>
  <meta name="description" content="Aluevaraus">
  <meta name="author" content="Ville Ranki">
  <link rel="stylesheet" href="/jasenet/areareservation/static/styles.css">
</head>
<body>
<div align="center">
<table border="1" cellspacing="1" width="90%">
<tr>
<td class="title">
<img src="http://tiy.fi/sites/tiy.fi/files/minnelli_logo.jpg">
<a href="/jasenet/areareservation" class="title">Aluevarausjärjestelmä</a>
</td>
<td align="center" width="90%" class="sitelist">
{% for site in sites %}
<a href="/jasenet/areareservation/sites/{{ site.icao }}/" class="sitelist">{{ site }}</a>
{% endfor %}
</td>
</tr>
<tr>
<td colspan="2" class="body">
        {% block content %}{% endblock %}
</td>
</table>
</div>
</body>
</html>
{% endlocalize %}

