{% extends "reservations/base.html" %}

{% block content %}

<h1>{{ site.name }} {{ day }}</h1>

{% if pilots %}
<h2>Lentämään ilmoittautuneet ({{ pilots|length }}):</h2>
<ul>
{% for pilot in pilots %}
<li>{{ pilot }}</li>
{% endfor %}
</ul>
{% else %}
(Ei vielä ketään ilmoittautunut lentämään)
{% endif %}
<p>
Ilmoittaudu lentämään kyseisenä päivänä kirjoittamalla nimesi tähän. Lentäjien
lukumäärä on tärkeä tietää alueita varatessa.
</p>
<form action="." method="post">
<input type="text" name="pilotname" size="25"/>
<input type="hidden" name="save" value="yes"/>
<input type="submit" value="    Ilmoittaudu     "/>

{% csrf_token %}
</form>

<h2>Erikoispäivä</h2>
<p>Jos kyseisenä päivänä hoidetaan aluevaraukset tavallisesta poikkeavasti
esimerkiksi kilpailujen vuoksi, voit merkitä sen erikoispäiväksi. Tällöin normaalit 
aluevaraukset eivät päde.</p>
<p>
<form action="." method="post">
<input type="hidden" name="save" value="yes"/>
{% if isSpecial %}
Päivä on erikoispäivä - <input type="submit" value="Merkitse tavalliseksi päiväksi"/>
{% else %}
<input type="hidden" name="isSpecial" value="yes"/>
Päivä on tavallinen päivä - <input type="submit" value="Merkitse erikoispäiväksi"/>
{% endif %}
{% csrf_token %}
</form>
</p>

<p>
Takaisin <a href="../../../../sites/{{ site.icao }}/">{{ site.name }}</a>n tietoihin
</p>
{% endblock %}

