{% extends "reservations/base.html" %}

{% block content %}
<h1>
Aluevaraus {{ reservation.site }} {{ reservation.date|date:"D j.n" }}
</h1>
<h2>Varatut alueet</h2>
<table border="0">
<tr class="tableheading">
<td>Alue</td><td>Pinnalle</td><td>Kello</td>
</tr>
{% for area in areas %}
<tr class="tablebody">
<td class="tablebody">
{{ area.area.name }}
</td>
<td class="tablebody">
FL{{ area.flightLevel }}
{% if area.isImc %}
IMC
{% else %}
VMC
{% endif %}
</td>
<td class="tablebody">
{% if area.startTime %}
{{ area.startTime }}-{{ area.endTime }}
{% else %}
{{ reservation.startTime|time:"H:i" }}-{{ reservation.endTime|time:"H:i" }}
{% endif %}
</td>
</tr>
{% endfor %}
</table>
<h2>Lisätiedot</h2>
<pre>
{{ reservation.comment }}
</pre>
<form action="/reservations/addcomment/{{ reservation.id }}/" method="post">
<textarea id="comment" type="textarea" name="comment" cols="60" rows="3"></textarea><br/>
<input type="submit" value="    Lisää     "/>
{% csrf_token %}
</form>

<h2>Varauksen tila</h2>
{% if reservation.status == reservation.PLANNED_STATUS %}
<div class="status_Planned">Suunniteltu<br/></div>
<br/>
<ul>
<li><div class="status_Requested"><a href="/reservations/setstatus/{{ reservation.id }}/{{reservation.REQUESTED_STATUS}}">Merkitse pyydetyksi</a> - varausta on pyydetty AMC:ltä, mutta vastausta ei olla saatu</li> </div>
<li><div class="status_Accepted"><a href="/reservations/setstatus/{{ reservation.id }}/{{reservation.ACCEPTED_STATUS}}">Merkitse hyväksytyksi</a> - AMC hyväksyi varauksen ja se aiotaan aamulla vahvistaa</li> </div>
<li><div class="status_Rejected"><a href="/reservations/setstatus/{{ reservation.id }}/{{reservation.REJECTED_STATUS}}">Merkitse hylätyksi</a> - AMC ei hyväksynyt varausta</li> </div>
{% endif %}
{% if reservation.status == reservation.REQUESTED_STATUS %}
<div class="status_Requested">Pyydetty<br/></div>
<br/>
<li><div class="status_Accepted"><a href="/reservations/setstatus/{{ reservation.id }}/{{reservation.ACCEPTED_STATUS}}">Merkitse hyväksytyksi</a> - AMC hyväksyi varauksen ja se aiotaan aamulla vahvistaa</li> </div>
<li><div class="status_Rejected"><a href="/reservations/setstatus/{{ reservation.id }}/{{reservation.REJECTED_STATUS}}">Merkitse hylätyksi</a> - AMC ei hyväksynyt varausta</li> </div>
{% endif %}
{% if reservation.status == reservation.ACCEPTED_STATUS %}
<div class="status_Accepted">Hyväksytty<br/></div>
<br/>
{% endif %}
{% if reservation.status == reservation.REJECTED_STATUS %}
<div class="status_Rejected">Hylätty<br/></div>
<br/>
{% endif %}
</ul>
<hr/>
<br/>
<a href="/reservations/delete/{{ reservation.id }}/">Poista tämä varaus</a><br/>
{% endblock %}

