{% extends "reservations/base.html" %}

{% block content %}
<script type="text/javascript">
function validateForm()
{
return true;
if (day=="customdate")
  {
  var date = document.forms["newreservation"]["day"].value;
  var validdate = /^\d{2}\.\d{2}$/;
  if(date==null || !validdate.test(date))
  	alert("Tarkista päivämäärä");
  return false;
  }
}
</script>

{% if error != 0 %}
<div class="error">
{% if error == 1 %}
Virhe: Vähintään yksi alue täytyy olla valittuna
{% endif %}
{% if error == 2 %}
Virhe: Tarkista päivämäärä
{% endif %}
{% if error == 3 %}
Virhe: Tarkista lentopinta
{% endif %}
</div>
{% endif %}

<form action="/reservations/{{ site.icao }}/create/" method="post" name="newreservation" onsubmit="return validateForm()">
<fieldset> <legend><b>Uusi varaus {{ site }}</b></legend>
<fieldset> <legend><b>Päivä ja aika</b></legend>
<input id="today" type="radio" name="day" value="today" checked="yes">
<label for="today">Tänään</label>
<input id="tomorrow" type="radio" name="day" value="tomorrow">
<label for="tomorrow">Huomenna</label>
<input id="customdate" type="radio" name="day" value="customdate">
<label for="customdate"></label>
<label for="date">Myöhemmin</label>
<input id="date" type="text" name="date" size="5" value="PP.KK" 
onblur="if (this.value == '') {this.value = 'PP.KK';}"  onfocus="if (this.value == 'PP.KK') {this.value = '';}"/> <br/>

Kello
   <label for="startTime"></label>
   <input id="startTime" type="text" name="startTime" size="5" value="08.00">
-
   <label for="endTime"></label>
   <input id="endTime" type="text" name="endTime" size="5" value="20.00">
paikallista aikaa
 <br/>
</fieldset>
<fieldset> <legend><b>Alueet</b></legend>
{% for area in areas %}
{{ area.name }}:
<input id="{{ area.id }}/no" type="radio" name="area-{{ area.id }}" value="no" checked="true">
<label for="{{ area.id }}/no">Ei</label>
{% for level in levels %}
<input id="{{ area.id }}/{{ level }}" type="radio" name="area-{{ area.id }}" value="{{ level }}">
<label for="{{ area.id }}/{{ level }}">FL{{ level }} </label>
{% endfor %}
<input id="{{ area.id }}/custom" type="radio" name="area-{{ area.id }}" value="custom">
<label for="{{ area.id }}/custom">FL</label>
<input type="text" name="{{ area.id }}/customlevel" size="3">

   <input id="{{ area.id }}/imc" type="checkbox" name="area-{{ area.id }}/imc">
   <label for="{{ area.id }}/imc">IMC</label>
 <br/>
{% endfor %}
</fieldset> 
<fieldset> <legend><b>Tila</b></legend>
<input id="status-1" type="radio" name="status" value="1" checked="true">
<label for="status-1">Suunniteltu</label> - Varausta ei ole vielä pyydetty<br/>
<input id="status-2" type="radio" name="status" value="2">
<label for="status-2">Pyydetty</label> - Varausta on pyydetty, mutta vastausta ei olla saatu<br/>
<input id="status-3" type="radio" name="status" value="3">
<label for="status-3">Hyväksytty</label> - Varaus on hyväksytty<br/>
<input id="status-4" type="radio" name="status" value="4">
<label for="status-4">Hylätty</label> - Varaus on hylätty<br/>
</fieldset> 
<fieldset> <legend><b>Lisätiedot</b></legend>
   <textarea id="comment" type="textarea" name="comment" cols="60" rows="3"></textarea>

</fieldset> 
 <br/>
<input type="submit" value="    Tee varaus     "/>
</fieldset> 
{% csrf_token %}
</form>
{% endblock %}

