{% extends "reservations/base.html" %}

{% block content %}

<h1>{{ site }}</h1>

<table border="0" cellspacing="1">
<tr class="tableheading">
<td colspan="{{futurereservations|length }}"><div align="center" class="tableheading">Tulevat varaukset</div></td>
</tr>
<tr class="tablebody">
<div class="tablebody">
{% for res in futurereservations %}
<td valign="top">
{{ res.date|date:"D j.n" }}<br/>
<hr/>
{% if res.reservations %}
{% for r in res.reservations %}
<a href="/reservations/{{ res.id }}/">
{% for area in r.areas %}
{{ area.areaName }} FL{{ area.flightLevel }}<br/>
{% endfor %}
<hr/>
{% endfor %}
</a>

{% else %}
    -
{% endif %}
</div>
</td>
{% endfor %}
</tr>
</table>
<a href="/reservations/new/{{ site.icao }}/">Uusi varaus</a></li>

<h2>Kaikki varaukset</h2>
<ul>
{% for reservation in reservations %}
    <li> {{ reservation }} <a href="/reservations/delete/{{ reservation.id }}/">Poista</a></li>
{% endfor %}
</ul>


{% endblock %}

