{% extends "reservations/base.html" %}

{% block content %}

<h1>{{ site }}</h1>

<a href="/reservations/new/{{ site.icao }}/">Tee uusi varaus</a></li>
<br/>
<table border="0" cellspacing="1">
<tr class="tableheading">
<td colspan="{{futurereservations|length }}"><div align="center" class="tableheading">Tulevat varaukset</div></td>
</tr>
<tr class="tablebody">
<div class="tablebody">
{% for res in futurereservations %}
<td valign="top">
{{ res.date|date:"D j.n" }}<br/>
<hr/>
{% if res.reservations %}
{% for r in res.reservations %}
<div class="status_{{r.statusname}}">
<a href="/reservations/{{ r.id }}/">
{% for area in r.areas %}
{{ area.areaName }} FL{{ area.flightLevel }}<br/>
{% endfor %}
</div>
<hr/>
{% endfor %}
</a>

{% else %}
    -
{% endif %}
</div>
</td>
{% endfor %}
</tr>
</table>
<br/>
<table>
<tr>
<td>
<div class="status_Planned">
Suunniteltu
</div>
</td>
<td>
<div class="status_Requested">
Pyydetty
</div>
</td>
<td>
<div class="status_Accepted">
Hyväksytty
</div>
</td>
<td>
<div class="status_Rejected">
Hylätty
</div>
</td>
</tr>
</table>


<h2>Kaikki varaukset, myös menneet</h2>
<ul>
{% for reservation in reservations %}
    <li class="oldreservation"> <a href="/reservations/{{ reservation.id }}/">{{ reservation.date }}</a> (<a href="/reservations/delete/{{ reservation.id }}/">Poista</a>)</li>
{% endfor %}
</ul>


{% endblock %}

